
/*welcome position*/
.down-style {
    background-color: rgb(3, 0, 17);
    opacity: 0.7;
    display: flex;
    position: relative;
    width: 90%;
    height: auto;
    justify-content: center;
}
.down-text{
    text-align: center;
    padding-left:0.125em;
    margin-left: 1.25em;
    color:white;
}

