
.menu-forum{
    background-color:rgb(34, 38, 42);
    opacity: 0.7;
}
.statusPresentationF{
    background-image: url(../../img/3-3.jpg);
    height:22em;
    background-size:cover;
    background-position: center;
    
}

.img1-forum{
    width: 20em;
    height: auto;
}