.headerpart1{
    background-image: url('../img/headerbar1.png');
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
    height: auto;
    width: 47%;
    margin: 0.25em;
    background-size: cover;
    justify-content: center;
    display: flex;
    text-shadow: 0 0 2px rgb(9, 255, 222);
}
.headerpart1 a,.headerpart2 a{
    margin: auto 0.625em ;
    padding: auto 0.25em;
    font-size: 1.275em;
    color: rgb(19, 149, 172);
    text-decoration: none;
    text-align: center;
}
.nav-modify {
    height: 5em;
    width: auto;
    display: flex;
    margin-top: 1.5em;
}
.nav-modify div{
    margin:0.25em;
}


.middle {
    width: 11%;
    height: 130%;
    position: relative;
    clear: right;
    justify-content: center;
    display: flex;
}
.middle a{
    width: max-content;
    justify-content: center;
    display: flex;
}

.main-logo {
    width: 150%;
    height: 130%;
    display: block;

}
.headerpart2 {
    background-image: url('../img/headerbar2.png');
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
    height: auto;
    width: 47%;
    margin: 0.25em;
    background-size: cover;
    justify-content: center;
    display: flex;
    text-shadow: 0 0 2px rgb(9, 255, 222);
}




.img-car{
    width: 15.625em;
    height: 21.875em;
}

/* body  */

.main-body{
    width: 98%;
    height: 98%;
    display: grid;
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
    grid-template-areas:
    'carousel carousel carousel information'
    'content1 content1  content1 discord';    
}

.main-body .grid-item{
  text-align: center;
  font-size: 20px;
  margin:0.5em;
  padding:0.5em;
}

.item1{
    grid-area: carousel; 
}
.item2{
    grid-area: information; 
}
.item3{
    grid-area: content1; 
}
.item4{
    grid-area: discord; 
}


/*information position*/
.download-style{
    background-color: rgb(3, 0, 17);
    opacity: 0.7;
    display: flex;
    position: relative;
    width: 95%;
    justify-content: center;
    max-width: 100%;
}
.information-style{
    color: rgb(255, 255, 255);
    text-align: center;
}

/*discord position*/
.discord-style{
    background-color: rgb(3, 0, 17);
    opacity: 0.7;
    display: flex;
    position: relative;
}
.discord-text{
    text-align: center;

}
#discord-img{
    position:relative;
    left: 3.125;

}
/* carousel position */
.position-carrousel{
    display: inline-block;
    width: 95%;
    height: auto;
    max-width: 90%;
}